<section>
  <div
    class="h-screen mx-auto mt-10 overflow-hidden bg-gray-900 rounded-lg w-96"
  >
    <div
      class="flex items-center w-full h-16 pl-2 space-x-2 text-3xl font-bold text-gray-200"
    >
      <p>CALCULATOR APP</p>
    </div>

    <div class="h-20">
      <input
        type="text"
        placeholder="0"
        class="w-full h-full pr-5 text-4xl text-right text-white bg-gray-900 border border-white"
      />
    </div>

    <div class="grid grid-cols-4 gap-2 mx-3 mt-10">
      <button
        class="flex items-center justify-center w-20 h-20 text-3xl font-bold bg-white rounded-lg shadow text-gray"
        value="9"
        (click)="OnEnteredValue('9')"
      >
        9
      </button>
      <button
        class="flex items-center justify-center w-20 h-20 text-3xl font-bold bg-white rounded-lg shadow text-gray"
        value="."
        (click)="OnEnteredValue('.')"
      >
        .
      </button>
      <button
        value="-"
        class="flex items-center justify-center w-20 h-20 text-3xl font-bold bg-white rounded-lg shadow text-gray"
        (click)="OnEnteredValue('-')"
      >
        -
      </button>
      <button
        value="/"
        class="flex items-center justify-center w-20 h-40 row-span-2 text-3xl font-bold bg-white rounded-lg shadow text-gray"
        (click)="OnEnteredValue('/')"
      >
        /
      </button>

      <button
        value="6"
        class="flex items-center justify-center w-20 h-20 text-3xl font-bold text-white bg-indigo-500 rounded-lg shadow"
        (click)="OnEnteredValue('6')"
      >
        6
      </button>
      <button
        value="7"
        class="flex items-center justify-center w-20 h-20 text-3xl font-bold text-white bg-indigo-500 rounded-lg shadow"
        (click)="OnEnteredValue('7')"
      >
        7
      </button>
      <button
        value="8"
        class="flex items-center justify-center w-20 h-20 text-3xl font-bold text-white bg-indigo-500 rounded-lg shadow"
        (click)="OnEnteredValue('8')"
      >
        8
      </button>

      <button
        value="3"
        class="flex items-center justify-center w-20 h-20 text-3xl font-bold text-white bg-indigo-500 rounded-lg shadow"
        (click)="OnEnteredValue('3')"
      >
        3
      </button>
      <button
        value="4"
        class="flex items-center justify-center w-20 h-20 text-3xl font-bold text-white bg-indigo-500 rounded-lg shadow"
        (click)="OnEnteredValue('4')"
      >
        4
      </button>
      <button
        value="5"
        class="flex items-center justify-center w-20 h-20 text-3xl font-bold text-white bg-indigo-500 rounded-lg shadow"
        (click)="OnEnteredValue('5')"
      >
        5
      </button>
      <button
        value="*"
        class="flex items-center justify-center w-20 h-20 text-3xl font-bold bg-white rounded-lg shadow text-gray"
        (click)="OnEnteredValue('*')"
      >
        *
      </button>

      <button
        value="0"
        class="flex items-center justify-center w-20 h-20 text-3xl font-bold text-white bg-indigo-500 rounded-lg shadow"
        (click)="OnEnteredValue('0')"
      >
        0
      </button>
      <button
        value="1"
        class="flex items-center justify-center w-20 h-20 text-3xl font-bold text-white bg-indigo-500 rounded-lg shadow"
        (click)="OnEnteredValue('1')"
      >
        1
      </button>
      <button
        value="2"
        class="flex items-center justify-center w-20 h-20 text-3xl font-bold text-white bg-indigo-500 rounded-lg shadow"
        (click)="OnEnteredValue('2')"
      >
        2
      </button>
      <button
        value="+"
        class="flex items-center justify-center w-20 h-20 text-3xl font-bold bg-white rounded-lg shadow text-gray"
        (click)="OnEnteredValue('+')"
      >
        +
      </button>

      <button
        value="c"
        class="flex items-center justify-center w-20 h-20 text-3xl font-bold text-white bg-indigo-500 rounded-lg shadow"
        (click)="OnEnteredValue('c')"
      >
        c
      </button>
      <button
        value="="
        class="flex items-center justify-center h-20 text-3xl font-bold text-white bg-indigo-500 rounded-lg shadow w-80"
        (click)="OnEnteredValue('=')"
      >
        =
      </button>
      <!-- <button
        class="flex items-center justify-center h-20 col-span-2 text-3xl font-bold bg-white rounded-lg shadow text-gray w-42"
      >
        =
      </button> -->
    </div>
  </div>
</section>
