<button
  [ngClass]="valueToShowOnButton.color"
  class="flex items-center justify-center w-20 h-20 text-3xl font-bold bg-white rounded-lg shadow text-gray"
  value="9"
>
  {{ valueToShowOnButton.value }}
</button>
<!-- <button
    class="flex items-center justify-center w-20 h-20 text-3xl font-bold bg-white rounded-lg shadow text-gray"
    value="."
  >
    .
  </button>
  <button
    value="-"
    class="flex items-center justify-center w-20 h-20 text-3xl font-bold bg-white rounded-lg shadow text-gray"
  >
    -
  </button>
  <button
    value="/"
    class="flex items-center justify-center w-20 h-40 row-span-2 text-3xl font-bold bg-white rounded-lg shadow text-gray"
  >
    /
  </button>

  <button
    value="6"
    class="flex items-center justify-center w-20 h-20 text-3xl font-bold text-white bg-indigo-500 rounded-lg shadow"
  >
    6
  </button>
  <button
    value="7"
    class="flex items-center justify-center w-20 h-20 text-3xl font-bold text-white bg-indigo-500 rounded-lg shadow"
  >
    7
  </button>
  <button
    value="8"
    class="flex items-center justify-center w-20 h-20 text-3xl font-bold text-white bg-indigo-500 rounded-lg shadow"
  >
    8
  </button>

  <button
    value="3"
    class="flex items-center justify-center w-20 h-20 text-3xl font-bold text-white bg-indigo-500 rounded-lg shadow"
  >
    3
  </button>
  <button
    value="4"
    class="flex items-center justify-center w-20 h-20 text-3xl font-bold text-white bg-indigo-500 rounded-lg shadow"
  >
    4
  </button>
  <button
    value="5"
    class="flex items-center justify-center w-20 h-20 text-3xl font-bold text-white bg-indigo-500 rounded-lg shadow"
  >
    5
  </button>
  <button
    value="*"
    class="flex items-center justify-center w-20 h-20 text-3xl font-bold bg-white rounded-lg shadow text-gray"
  >
    *
  </button>

  <button
    value="0"
    class="flex items-center justify-center w-20 h-20 text-3xl font-bold text-white bg-indigo-500 rounded-lg shadow"
  >
    0
  </button>
  <button
    value="1"
    class="flex items-center justify-center w-20 h-20 text-3xl font-bold text-white bg-indigo-500 rounded-lg shadow"
  >
    1
  </button>
  <button
    value="2"
    class="flex items-center justify-center w-20 h-20 text-3xl font-bold text-white bg-indigo-500 rounded-lg shadow"
  >
    2
  </button>
  <button
    value="+"
    class="flex items-center justify-center w-20 h-20 text-3xl font-bold bg-white rounded-lg shadow text-gray"
  >
    +
  </button>

  <button
    value="c"
    class="flex items-center justify-center w-20 h-20 text-3xl font-bold text-white bg-indigo-500 rounded-lg shadow"
  >
    c
  </button>
  <button
    value="="
    class="flex items-center justify-center h-20 text-3xl font-bold text-white bg-indigo-500 rounded-lg shadow w-80"
  >
    =
  </button> -->
